/* Prefixed by https://autoprefixer.github.io */

/* Fonts */

@font-face {
    src: url(/static/font/MomcakeBold-WyonA.otf);
    font-family: Font;
}

/* Main features */

* {
    margin: 0;
    padding: 0;
    border: none;
    background: none center no-repeat;
    background-size: 100%;
    line-height: 100%;
    font-family: EngFont, sans-serif;
    resize: none;
}
body,
html {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.all_size {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    cursor: pointer;
}
ip{
    display: none;
}

/* Scrollbar */

::-webkit-scrollbar{
    width: 1vw;
}
::-webkit-scrollbar-thumb {
    border: 3px solid black;
    border-radius: 10px;
}

/* Top */

#top {
    position: absolute;
    height: 15vh;
    width: 100%;
    background: black;
    color: white;
    z-index: 5;
    font-family: Font;
}
h1, h2 {
    position: fixed;
    width: 100vw;
    height: 15vh;
    top: 0;
    text-align: center;
    font-size: 15vh;
    font-family: Font;
}
h1 {
    top: 0;
}
h2 {
    top: 15vh;
    z-index: 4;
}
#menu_open_button {
    position: absolute;
    height: 7vw;
    width: 7vw;
    display: inline-block;
    top: calc(50% - 3.5vw);
    cursor: pointer;
    z-index: 7;
}

/* Chats list */

#chat {
   display: inline-block;
}
#chats {
    position: relative;
    height: 85vh;
    width: 100vw;
    top: 15vh;
    background-color: white;
    z-index: 7;
}
.chat_button {
    height: 10vh;
    display: inline-block;
    border: 3px solid black;
    margin: 1vh;
    padding: 1vh;
    cursor: pointer;
}
.chat_button > * {
    position: relative;
    top: 1vh;
    font-size: 8vh;
    cursor: pointer;
}

/* Chat */

#messages {
    position: fixed;
    height: 75vh;
    width: 99.8vw;
    top: 15vh;
    overflow-y: auto;
    z-index: 5;
    background-color: white;
}
.message, .message_admin{
    position: relative;
    width: 75vw;
    border: 3px solid black;
    border-radius: 20px;
    margin: 1vh 0;
    font-size: 5vh;
    word-break: break-word;
}
.message {
    left: 2.5vw;
}
.message_admin {
    left: 22vw;
}
#text{
    position: fixed;
    width: 80vw;
    height: 10vh;
    bottom: 0;
    border-top: 3px solid black;
    font-size: 5vh;
    z-index: 6;
}
#submit {
    position: fixed;
    height: 10vh;
    width: 20vw;
    bottom: 0;
    right: 0;
    border-top: 3px solid black;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    background: black;
    color: white;
    cursor: pointer;
    z-index: 6;
}

/* Menu */

#menu {
    position: fixed;
    height: 100%;
    width: 6cm;
    top: 0;
    border-bottom-right-radius: 10mm;
    border-top-right-radius: 10mm;
    display: none;
    z-index: 8;
    background-color: white;
    opacity: 0.95;
}
#menu_close_area {
    position: fixed;
    top: 0;
    display: none;
    z-index: 5;
}
#menu_close_button {
    position: absolute;
    width: 4vh;
    height: 4vh;
    display: none;
    fill: black;
}
.menu_button {
    position: relative;
    height: 4cm;
    width: 4cm;
    margin: 1cm;
    border-radius: 10mm;
    display: block;
    background-color: black;
    cursor: pointer;
}
.menu_button p {
    position: absolute;
    width: 100%;
    bottom: 1.4cm;
    font-size: 1.2cm;
    color: white;
    text-align: center;
    vertical-align: middle;
}

@media (max-device-width: 480px) {
    ::-webkit-scrollbar{
        width: 0;
    }
    h1{
        top: calc(7.5vh - 12.5vw);
        font-size: 25vw;
    }
    #menu_open_button{
        height: 15vw;
        width: 15vw;
        top: calc(50% - 7.5vw);
        left: 1vw;
    }
}