/* Prefixed by https://autoprefixer.github.io */

/* Fonts */

@font-face {
    src: url(/static/font/MomcakeBold-WyonA.otf);
    font-family: EngFont;
}
@font-face {
    src: url(/static/font/20953.ttf);
    font-family: RuFont;
}
@font-face {
    src: url(/static/font/Oswald-SemiBold.ttf);
    font-family: SecondRuFont;
}

/* Animations */

@-webkit-keyframes work_main_to_right {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
@keyframes work_main_to_right {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
@-webkit-keyframes work_left_to_right {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}
@keyframes work_left_to_right {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}
@-webkit-keyframes work_left_to_left {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
@keyframes work_left_to_left {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
@-webkit-keyframes work_main_to_left {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@keyframes work_main_to_left {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@-webkit-keyframes skill_on {
    0%{
        height: 0;
        display: none;
    }
    100%{
        height: 100%;
        display: inline-block;
    }
}
@keyframes skill_on {
    0%{
        height: 0;
        display: none;
    }
    100%{
        height: 100%;
        display: inline-block;
    }
}
@-webkit-keyframes skill_off {
    0%{
        height: 100%;
        top: 0;
    }
    100%{
        height: 0;
        top: 100%;
    }
}
@keyframes skill_off {
    0%{
        height: 100%;
        top: 0;
    }
    100%{
        height: 0;
        top: 100%;
    }
}

/* Main features */

::-webkit-scrollbar {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    background: none center no-repeat;
    background-size: 100%;
    line-height: 100%;
    font-family: EngFont, sans-serif;
}
body,
html {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.all_size {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    cursor: pointer;
}

/* Title */

#top {
    position: relative;
    width: 100%;
    height: 15vw;
    padding: 3vw 0;
    background-color: black;
}
#A,
#T {
    position: relative;
    width: 20vw;
    height: 100%;
    display: inline-block;
}
#A {
    left: 12.5vw;
}
.line {
    background-color: white;
}
#A_line1 {
    position: absolute;
    left: 2.9%;
    shape-outside: polygon(50% 0 ,50% 29%,78% 133%,90% 133%);
    -webkit-clip-path: polygon(50% 0 ,50% 29%,78% 133%,90% 133%);
            clip-path: polygon(50% 0 ,50% 29%,78% 133%,90% 133%);
}
#A_line2 {
    position: absolute;
    shape-outside: polygon(50% 0 ,50% 29%,22% 133%,10% 133%);
    -webkit-clip-path: polygon(50% 0 ,50% 29%,22% 133%,10% 133%);
            clip-path: polygon(50% 0 ,50% 29%,22% 133%,10% 133%);
    left: -2.9%;
}
#A_line3 {
    position: absolute;
    shape-outside: polygon(42% 58%,39% 68%,61% 68%,58% 58%);
    -webkit-clip-path: polygon(42% 58%,39% 68%,61% 68%,58% 58%);
            clip-path: polygon(42% 58%,39% 68%,61% 68%,58% 58%);
}
#verin {
    position: relative;
    left: 8.5vw;
    display: inline-block;
    color: white;
    font-size: 12vw;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#T {
    left: 1.5vw;
}
#T_line1 {
    position: absolute;
    shape-outside: polygon(0 0,100% 0,50% 10%);
    -webkit-clip-path: polygon(0 0,100% 0,50% 10%);
            clip-path: polygon(0 0,100% 0,50% 10%);
}
#T_line2 {
    position: absolute;
    shape-outside: polygon(40% 10%,50% 15%,60% 10%,50% 100%);
    -webkit-clip-path: polygon(40% 10%,50% 15%,60% 10%,50% 100%);
        clip-path: polygon(40% 10%,50% 15%,60% 10%,50% 100%);
}
#imur {
    position: relative;
    right: 5.5vw;
    display: inline-block;
    color: white;
    font-size: 12vw;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Main */

#main {
    position: relative;
    width: 100%;
    background-color: white;
}

/* Skills */

#skills_text {
    position: relative;
    height: 11vh;
    margin-top: 1vh;
    font-size: 10vh;
    text-align: center;
    line-height: 80%;
    font-weight: 400;
}
#skills {
    width: 100%;
}
.skill,
.active_skill {
    position: relative;
    height: 8vh;
    width: 20%;
    margin-left: 3.7%;
    border-radius: 10mm;
    display: inline-block;
    background-color: black;
    z-index: 1;
}
.active_skill {
    color: black;
}
.skill {
    color: white;
}
.skill::after {
    position: absolute;
    width: 100%;
    height: 0;
    content: "";
    background-color: white;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation: skill_off;
            animation: skill_off;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
}
.active_skill::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    content:"";
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation: skill_on;
            animation: skill_on;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;

}
.skill_text {
    position: absolute;
    top: calc(50%);
    line-height: 0;
    text-align: center;
    font-size: 10mm;
    z-index: 3;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Works */

#works_text {
    position: relative;
    height: 11vh;
    text-align: center;
    line-height: 80%;
    font-size: 10vh;
    font-weight: 400;
}
#works {
    position: relative;
    height: 54vw;
}
#works_left_button,
#works_right_button {
    position: absolute;
    height: 100%;
    width: 5.8%;
    display: inline-block;
    z-index: 3;
}
#works_left_button {
    left: 0;
}
#works_right_button {
    right: 0;
}
.works_change_text {
    position: absolute;
    width: 100%;
    top: calc(50% - 3vw);
    text-align: center;
    line-height: 0;
    font-size: 12vw;
    opacity: 0.1;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#works_list {
    position: absolute;
    height: 100%;
    width: 88.4%;
    left: 5.8%;
    overflow: hidden;
}
.work {
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline-block;
    overflow-x: hidden;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
#left_work {
    right: 100%;
}
#right_work {
    left: 100%;
}

/* Footer */

footer {
    position: relative;
    width: 100%;
    height: 15%;
    margin-top: 1%;
    background-color: black;
}
.footer {
    position: relative;
    height: 50%;
    display: block;
    font-size: 4vh;
    text-decoration: none;
    color: white;
    text-align: center;
}
.footers {
    position: absolute;
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
#left_footer_line {
    left: 0;
}
#right_footer_line {
    left: 50%;
}

/* Menu open button */

#menu_open_button {
    position: absolute;
    height: 30%;
    width: 7mm;
    top: 35%;
    z-index: 7;
}
#menu_open_text {
    position: relative;
    top: calc(50% - 2.2cm);
    font-size: 7mm;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#phone_menu_open_button {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: calc(50% - 5vw);
    display: none;
    cursor: pointer;
    fill: white;
}

/* Menu */

#menu {
    position: fixed;
    height: 100%;
    width: 6cm;
    top: 0;
    border-bottom-right-radius: 10mm;
    border-top-right-radius: 10mm;
    display: none;
    z-index: 6;
    background-color: white;
    opacity: 0.95;
}
#menu_close_area {
    position: fixed;
    top: 0;
    display: none;
    z-index: 5;
}
#menu_close_button {
    position: absolute;
    width: 4vh;
    height: 4vh;
    display: none;
    fill: black;
}
.menu_button {
    position: relative;
    height: 4cm;
    width: 4cm;
    margin: 1cm;
    border-radius: 10mm;
    display: block;
    background-color: black;
    cursor: pointer;
}
#telegram {
    mask-image: url(/media/img/telegram.svg);
        -webkit-mask-image: url(/media/img/telegram.svg);
    mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
    mask-size: 100%;
        -webkit-mask-size: 100%;
}
#git_button {
    mask-image: url(/media/img/git.svg);
        -webkit-mask-image: url(/media/img/git.svg);
    mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
    mask-size: 100%;
        -webkit-mask-size: 100%;
}
#language_change_button {
    background-image: url(/media/img/RussianFlag.png);
    background-size: 94%;
}
#chat p {
    position: absolute;
    width: 100%;
    bottom: 25%;
    font-size: 2cm;
    color: white;
    text-align: center;
    vertical-align: middle;
}

@media (max-device-width: 480px) {

    /* Skills */

    .skill, .active_skill {
        width: 95%;
        height: 10vh;
        margin-left: 2.5%;
    }
    #skill_text {
        font-size: 3cm;
    }

    /* Works */

    #works_list {
        width: 100%;
        left: 0;
    }
    .works_change_text {
        opacity: 0.6;
    }

    /* Menu open button */

    #menu_open_button {
        display: none;
    }
    #menu_open_text {
        font-size: 8vw;
    }
    #phone_menu_open_button {
        display: inline-block;
    }

    /* Menu */

    #menu {
        width: 40%;
    }
    #menu_close_button {
        display: inline-block;
    }
    .menu_button{
        height: 26.66vw;
        width: 26.66vw;
        margin: 6.67vw;
    }
    #chat p {
        font-size: 14vw;
    }
}
