/* Prefixed by https://autoprefixer.github.io */

/* Fonts */

@font-face {
    src: url(/static/font/MomcakeBold-WyonA.otf);
    font-family: EngFont;
}
@font-face {
    src: url(/static/font/Oswald-SemiBold.ttf);
    font-family: SecondRuFont;
}

/* Main features */

::-webkit-scrollbar {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    background: none center no-repeat;
    background-size: 100%;
    line-height: 100%;
    font-family: EngFont, sans-serif;
}
body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    scrollbar-width: none;
}
.all_size {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

/* Title */

#top {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
}
h1 {
    position: relative;
    top: 43.5vh;
    font-size: 13vw;
    text-align: center;
    word-break: break-all;
}

/* Main */

.main {
    margin: 21vw 8vw 6% 8vw;
    font-size: 5vh;
    word-break: break-all;
}
#Ru {
    font-family: SecondRuFont, sans-serif;
}
#connect {
    width: 100%;
    height: 16vw;
    position: relative;
}
#Kwork {
    position: absolute;
    height: 15vw;
    width: 15vw;
    left: 20%;
    border: black 1mm solid;
    border-radius: 100%;
    display: inline-block;
    background-image: url("/media/img/Kwork.png");
}
#Fiverr {
    position: absolute;
    height: 15vw;
    width: 15vw;
    right: 20%;
    border: black 1mm solid;
    border-radius: 100%;
    display: inline-block;
    background-image: url("/media/img/fiverr.png");
}

/* Menu open button */

#menu_open_button {
    position: absolute;
    height: 30%;
    width: 7mm;
    display: none;
    top: 35%;
    z-index: 7;
}
#menu_open_text {
    position: relative;
    top: calc(50% - 2.2cm);
    font-size: 7mm;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Menu */

#menu {
    position: fixed;
    height: 100%;
    width: 6cm;
    top: 0;
    border-bottom-right-radius: 10mm;
    border-top-right-radius: 10mm;
    display: none;
    z-index: 6;
    background-color: white;
    opacity: 0.95;
}
#menu_close_area {
    position: fixed;
    top: 0;
    display: none;
    z-index: 5;
}
#menu_close_button {
    position: absolute;
    width: 4vh;
    height: 4vh;
    display: none;
    fill: black;
}
.menu_button {
    position: relative;
    height: 4cm;
    width: 4cm;
    margin: 1cm;
    border-radius: 10mm;
    display: block;
    background-color: black;
    cursor: pointer;
}
#telegram {
    mask-image: url(/media/img/telegram.svg);
        -webkit-mask-image: url(/media/img/telegram.svg);
    mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
    mask-size: 100%;
        -webkit-mask-size: 100%;
}
#git_button {
    mask-image: url(/media/img/git.svg);
        -webkit-mask-image: url(/media/img/git.svg);
    mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
    mask-size: 100%;
        -webkit-mask-size: 100%;
}
#chat p {
    position: absolute;
    width: 100%;
    bottom: 25%;
    font-size: 2cm;
    color: white;
    text-align: center;
    vertical-align: middle;
}
#language_change_button {
    background-image: url(/media/img/RussianFlag.png);
    background-size: 94%;
}
#main_page_link p {
    position: absolute;
    width: 100%;
    bottom: 25%;
    font-size: 2cm;
    color: white;
    text-align: center;
    vertical-align: middle;
}

@media (max-device-width: 480px) {

    /* Menu open button */

    #menu_open_button {
        width: 8vw;
    }
    #menu_open_text {
        font-size: 8vw;
    }

    /* Menu */

    #menu {
        width: 40%;
    }
    #menu_close_button {
        display: inline-block;
    }
    .menu_button {
        height: 26.66vw;
        width: 26.66vw;
        margin: 6.67vw;
    }
    #main_page_link p {
        font-size: 14vw;
    }
    #chat p {
        font-size: 14vw;
    }
}
