{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Averin Timur</title>
    <link rel="icon" type="image/png" href="media/img/Logo.png">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Main.css' %}">
    <meta name="author" content="Averin Timur">
    <meta name="description" content="It's my site.It work with Django(Python framework), HTML/CSS, JavaScript/jQuery.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="ru-RU">
    <meta http-equiv="content-type" content="text/html">
    <meta name="keywords" content="Django(Python framework), HTML/CSS, JavaScript/jQuery">
    <meta http-equiv="content-security-policy" content="default-src * 'unsafe-inline'">
</head>
<body>
    <div id="Top">
        <div id="logo-a">
            <div id="Logo-a-line1"></div>
            <div id="Logo-a-line2"></div>
            <div id="Logo-a-line3"></div>
        </div>
        <p id="Top-text-verin">verin</p>
        <div id="logo-t">
            <div id="Logo-t-line1"></div>
            <div id="Logo-t-line2"></div>
        </div>
        <p id="Top-text-imur">imur</p>
    </div>
    <div id="Main">
        <h1 id="Main-Text-Works">Skills</h1>
        <div id="Works">
            {% for _ , name in WorkList.items %}
            <div class="Work" id="Work-{{ name }}" onmouseover="AnimationHover('Work-{{ name }}')" onmouseout="AnimationUnHover('Work-{{ name }}')">
                <p id="Work-Text">{{ name }}</p>
                <a class="a-all" href="work/{{ name }}" title="{{ name }}"></a>
            </div>
            {% endfor %}
        </div>
        <h1 id="Main-Text-Prodjects">Works</h1>
        <div id="Prodjects">
            <div id="Prodjects-ToLift" >
                <div class="Prodjects-Change-Text" onclick="Prodjects_ToLift()"><</div>
            </div>
            <div id="Prodjects-List">
                <div id="Prodject1" class="Prodject"></div>
                <a href="" id="Prodject2" class="Prodject" title="Example of my work"></a>
                <div id="Prodject3" class="Prodject"></div>
            </div>
            <div id="Prodjects-ToRight">
                <div class="Prodjects-Change-Text" onclick="Prodjects_ToRight()">></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="Footers" id="Footers1">
            <a class="Footer" href="https://kwork.ru/user/averintimur">Kwork</a>
            <a class="Footer" href="https://www.fiverr.com/averintimur">Fiverr</a>
            <a class="Footer" href="https://t.me/AverinTimur">Telegram</a>
        </div>
        <div class="Footers" id="Footers2">
            <a class="Footer" href="https://github.com/AverinTimur/MySite.git">GitHub</a>
            <a class="Footer" href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a>
            <a class="Footer" href="https://en.wikipedia.org/wiki/Django_(web_framework)">Django</a>
        </div>
        <div class="Footers" id="Footers3">
            <a class="Footer" href="https://en.wikipedia.org/wiki/HTML">HTML</a>
            <a class="Footer" href="https://en.wikipedia.org/wiki/CSS">CSS</a>
            <a class="Footer" href="https://en.wikipedia.org/wiki/JavaScript">JS</a>
        </div>
        </footer>
    <div id="Menu-Open" onmouseover="OpenMenu()">
        <p id="Menu-Open-Text">menu</p>
    </div>
    <div id="Menu">
        <img src="/media/img/x.svg" id="Menu-Close" onclick="CloseMenu()">
        <a class="Menu-Bottom" href="https://t.me/AverinTimur" id="Telegram" title="Telegram"></a>
        <a class="Menu-Bottom" href="https://github.com/AverinTimur/MySite.git" id="Git-Bottom" title="Git"></a>
        <a class='Menu-Bottom' href="{% url 'contact' %}" id="Chat"><p>CHAT</p></a>
        <bottom class="Menu-Bottom" id="LanguageBottom" onclick="LanguageChange()" title="Change language"></bottom>
    </div>
    <div id="MenuOff" onmouseover="CloseMenu()" class="a-all" style="display: none; z-index: 5;"></div>
    {% csrf_token %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static "JS/Main.js" %}"></script>
</body>
</html>