{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'JS/Work.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="author" content="Averin Timur">
    <meta name="description" content="It's my site.It work with Django(Python framework), HTML/CSS, JavaScript/jQuery.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="en-US">
    <meta http-equiv="content-type" content="text/html">
    <meta name="keywords" content="Django(Python framework), HTML/CSS, JavaScript/jQuery">
    <meta http-equiv="content-security-policy" content="default-src * 'unsafe-inline'">
    <title>{{ url }}</title>
    <link rel="icon" type="image/png" href="../../media/img/Logo.png">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Work.css' %}">
    <style>
        html,body{
              background-color: {{ color }};
        }
        #About-Buy{
            color: {{ color }};
        }
    </style>
</head>
<body>
    <p id="Main-Title">{{ url }}</p>
    <div id="About">
        <div id="About-Buy" onclick="ConnectOn()" title="When you can buymy work">Buy</div>
    </div>
    <div id="Connect">
        <div class="all" onclick="ConnectOff()"></div>
        <div id="Connect-Main">
            <div id="Connect-Main-Top">
                <div class="Connect-Main-Freelance-Line2-A"  onclick="NumberOn()" id="Phone"></div>
                <a id="Connect-Main-Top-Website" style="display: none" class="Connect-Main-Freelance-Line2-A" title="My Number"></a>
            </div>
            <div id="Connect-Main-Freelance">
                <div id="Connect-Main-Freelance-Line1">
                    <div class="Connect-Main-Freelance-Line1-Div"><a class="Connect-Main-Freelance-Line1-A" href="https://www.fiverr.com/averintimur" id="Fiverr" title="Fiverr"></a></div>
                    <div class="Connect-Main-Freelance-Line1-Div"><a class="Connect-Main-Freelance-Line1-A" href="https://kwork.ru/user/averintimur" id="Kwork" title="Kwork"></a></div>
                    <div class="Connect-Main-Freelance-Line1-Div"><a class="Connect-Main-Freelance-Line1-A" href="https://www.freelancejob.ru/users/AverinTimur/" id="FreelanceJob" title="FreelanceJob"></a></div>
                    <div class="Connect-Main-Freelance-Line1-Div"><a class="Connect-Main-Freelance-Line1-A" href="https://freelance.habr.com/freelancers/timur-averin" id="FreelanceHabre" title="FreelanceHabre"></a></div>
                </div>
                <div id="Connect-Main-Freelance-Line2">
                    <div class="Connect-Main-Freelance-Line2-Div"><a class="Connect-Main-Freelance-Line2-A" href="https://pchel.net/u/timur-averin-936/" id="Pchel" title="Pchel"></a></div>
                    <div class="Connect-Main-Freelance-Line2-Div"><a class="Connect-Main-Freelance-Line2-A" href="https://www.weblancer.net/users/AverinTimur/" id="Weblancer" title="Weblancer"></a></div>
                </div>
            </div>
        </div>
    </div>
    <div id="Number">
        <a onclick="NumberOff()" class="all" style="z-index: 102"></a>
        <div id="Number-Div">
            <p id="Number-Div-Number">8 (995) 675-44-38</p>
        </div>
    </div>
</body>
</html>