{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ url }}</title>
  <meta charset="UTF-8">
  <meta name="author" content="Averin Timur">
  <meta name="description" content="It's my site. It works with Django(Python framework), HTML/CSS, JavaScript/jQuery.">
  <meta name="keywords" content="Django(Python framework), HTML/CSS, JavaScript/jQuery">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-language" content="ru-RU">
  <meta http-equiv="content-type" content="text/html">
  <meta http-equiv="content-security-policy" content="default-src * 'unsafe-inline'">
  <link rel="icon" type="image/png" href="../../media/img/Logo.png">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/Work.css' %}">
  <style>
    #top{
      background-color:{{ color }};
    }
  </style>
</head>
<body>
  <div id="top">
    <h1>{{ url }}</h1>
  </div>
  <main id="En" class="main">{{ en_description }}</main>
  <main id="Ru" class="main">{{ ru_description }}</main>
  <div id="connect">
    <a id="Kwork" href="https://kwork.ru/user/averintimur"></a>
    <a id="Fiverr" href="https://www.fiverr.com/averintimur"></a>
  </div>
  <div id="menu_open_button" onmouseover="open_menu()">
    <p id="menu_open_text">menu</p>
  </div>
  <div id="menu">
    <img id="menu_close_button" src="/media/img/x.svg" alt='close menu' onclick="close_menu()">
    <a id="telegram" class="menu_button" href="https://t.me/AverinTimur" title="Telegram"></a>
    <a id="git_button" class="menu_button" href="https://github.com/AverinTimur/MySite.git" title="GitHub"></a>
    <button id="language_change_button" class="menu_button" title="Change language" onclick="change_language()"></button>
    <a id="chat" class='menu_button' href="{% url 'contact' %}" title="Сhat"><p>CHAT</p></a>
    <a id="main_page_link" class="menu_button" href="/" title="Main Page"><p>MAIN</p></a>
  </div>
  <div id="menu_close_area" class="all_size" onmouseover="close_menu()"></div>
  {% csrf_token %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static "JS/Work.js" %}"></script>
</body>
</html>
